body {
  text-align: center;

  margin: 5px;
 padding: 25px;
 /* height: 100vh; */
 font-family: sans-serif;


 background: #abbaab;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to left, #cfd9bb, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to left, #e00991, #09dfd9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 background-repeat: no-repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p, h2, h1, h3 {
    font-family: cursive;
}
